<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Car</title>
</head>
<body>
    <form action="" method="POST">
        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" name="name" type="text">
        </div>
        <div class="form-group">
            <label for="model">Model</label>
            <input id="model" name="model" type="text">
        </div>
        <div class="form-group">
            <label for="color">Color</label>
            <input id="color" name="color" type="text">
        </div>
        <div class="form-group">
            <label for="launch">Launch Date</label>
            <input id="launch" name="launch" type="date">
        </div>
        <select name="company_id" id="company">
            {% for company in companies %}
            <option value="{{company.id}}">{{company.name}}</option>
            {% endfor %}
        </select>
        <button type="submit">Add Car</button>
    </form>

    <table>
        <thead>
            <tr>
            {% for column in ['name','model','company','launch','color'] %}
                <th>{{column}}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for car in cars %}
            <tr>
                <td>{{car['name']}}</td>
                <td>{{car['model']}}</td>
                <td>{{car['company']}}</td>
                <td>{{car['launch_date']}}</td>
                <td>{{car['color']}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        {% if status %}
        alert("{{status}}")
        {% endif %}
    </script>
</body>
</html>